<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}!</p>
  <br>
  <p>Recebemos uma solicitação para redefinir sua senha, foi você?</p>
  <br>
  <p>Clique abaixo para redefinir sua senha!</p>
  <p>
    <a href="{{link}}" target="_blank">Redefinir minha senha.</a>
  </p>
  <p>Caso você não tenha solicitado essa redefinição,
    descarte esse email.
  </p>
  <br>
  <p>Obrigado!</p>
  <p>Equipe API Vendas ;) </p>
</div>
